@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    this is custom class in view 
*@
@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">Movies</h2>
<ul>
    @foreach (var movie in Model.Movies)
    {
        <li><a href="">@movie.Name</a></li>
    }
</ul>


@if (Model.Customers.Count == 0)
 {
    <text>No one can rented this movie before.</text>
 }          

<h2>Customers</h2>
<ul>
    @foreach(var customer in Model.Customers)
     {
        <li><a href="Random?Id=@customer.Id">@customer.Name</a></li>
     }
</ul>

           
